SECRET_KEY= # Здесь должен находиться ваш секретный Django-ключ
    # если ключа нет, просто не указывайте данную переменную, ключ будет сгенерирован автоматически

SITE_URL= # url главной страницы сайта, по умолчанию используется http://localhost:8000

# Параметры подключения к базе данных
DB_NAME= # Название БД
DB_USER= # Имя пользователя БД
DB_PASSWORD= # Пароль пользователя БД

# Параметры подключения к SMTP-серверу для организации рассылок электронных писем
EMAIL_HOST= # Адрес SMTP-сервера
EMAIL_PORT= # Порт для TLS-соединения, по умолчанию используется 587
EMAIL_USE_TLS= # Использование TLS-протокола шифрования, по умолчанию используется True
EMAIL_USE_SSL= # Использование SSL-протокола шифрования, по умолчанию используется False
EMAIL_HOST_USER= # Ваш email, должен соответствовать значению EMAIL_HOST
EMAIL_HOST_PASSWORD= # Пароль приложения
SENDING_INTERVAL = # Продолжительность задержки в секундах между отправками писем, по умолчанию используется 300

# Параметры часового пояса, в котором расположен сервер
LOCAL_TIME_ZONE= # Название местного часового пояса, например: Europe/Moscow. По умолчанию используется America/Chicago

# Параметры Redis
BASE_TTL= # Стандартное время хранения данных в кеше, указывается в секундах, по умолчанию используется 600

# Запуск сервера в асинхронном режиме
CELERY_TASK_TRACK_STARTED= # Установить значение true (регистр не имеет значения) для отслеживания статуса задач
CELERY_TASK_TIME_LIMIT= # Предел времени для обработки одной задачи в секундах, по умолчанию используется 3600 (1 час)

# Активация аккаунта и смена пароля
PASSWORD_RESET_TIMEOUT= # Срок действия сгенерированных ссылок в секундах, по умолчанию 86400 (1 сутки)