SECRET_KEY= # Здесь должен находиться ваш секретный Django-ключ

SITE_URL= # url главной страницы сайта, по умолчанию используется http://localhost:8000

# Параметры подключения к базе данных
DB_NAME= # Название БД
DB_USER= # Имя пользователя БД
DB_PASSWORD= # Пароль пользователя БД
DB_HOST= # Хост подключаемой БД
DB_PORT= # Порт подключения БД

# Параметры подключения к SMTP-серверу для организации рассылок электронных писем
EMAIL_HOST= # Адрес SMTP-сервера
EMAIL_PORT= # Порт для TLS-соединения, по умолчанию используется 587
EMAIL_USE_TLS= # Использование TLS-протокола шифрования, по умолчанию используется True
EMAIL_USE_SSL= # Использование SSL-протокола шифрования, по умолчанию используется False
EMAIL_HOST_USER= # Ваш email, должен соответствовать значению EMAIL_HOST
EMAIL_HOST_PASSWORD= # Пароль приложения
SENDING_INTERVAL = # Продолжительность задержки в секундах между отправками писем, по умолчанию используется 300

# Параметры часового пояса, в котором расположен сервер
LOCAL_TIME_ZONE= # Название местного часового пояса, например: Europe/Moscow

# Запуск сервера в асинхронном режиме
USE_CELERY= # Использовать воркер Celery для выполнения продолжительных задач в фоновом режиме. Укажите True или False

# Активация аккаунта и смена пароля
PASSWORD_RESET_TIMEOUT= # Срок действия сгенерированных ссылок в секундах, по умолчанию 86400 (1 сутки)