{% extends 'base.html' %}

{% block header %}
    <h1 class="text-center sp-bfc mt-5 fw-bold">Список пользователей</h1>
{% endblock %}

{% block content %}
    <div class="sp-cont p-3 me-2 mt-5">
        <table class="sp-bfc" style="width:100%; table-layout: fixed">
            <thead>
                <tr class="text-start sp-bfc" style="border-bottom: 3px solid rgb(80, 200, 20)">
                    <th scope="col" style="width:17%; padding: 5px">E-mail</th>
                    <th scope="col" style="width:8%; padding: 5px">Ник</th>
                    <th scope="col" style="width:11%; padding: 5px">Фамилия</th>
                    <th scope="col" style="width:11%; padding: 5px">Имя</th>
                    <th scope="col" style="width:11%; padding: 5px">Организация</th>
                    <th scope="col" style="width:8%; padding: 5px">Телефон</th>
                    <th scope="col" style="width:10%; padding: 5px">Активация</th>
                    <th scope="col" style="width:9%; padding: 5px">Должность</th>
                    <th scope="col" style="width:15%; padding: 5px">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr class="text-start sp-bfc" style="border-bottom: 1px solid rgba(80, 200, 20, 0.2)">
                        <td style="padding: 5px">{{object.email}}</td>
                        <td style="padding: 5px">{{object.username}}</td>
                        <td style="padding: 5px; white-space: nowrap; overflow: hidden;">{{object.last_name}}</td>
                        <td style="padding: 5px; white-space: nowrap; overflow: hidden;">{{object.first_name}}</td>
                        <td style="padding: 5px; white-space: nowrap; overflow: hidden;">{{object.company|default:""}}</td>
                        <td style="padding: 5px">{{object.phone|default:""}}</td>
                        <td style="padding: 5px">
                            {% if object.is_active %}
                                Активирован
                            {% else %}
                                Ожидается
                            {% endif %}
                        </td>
                        <td style="padding: 5px">Группы</td>
                        <td style="padding: 5px">
                            <div class="my-3 d-flex flex-column">
                                <form method="post" enctype="multipart/form-data" action="{% url 'users:block_from_users_list' pk=object.pk %}">
                                    {% csrf_token %}
                                    {% if object.is_blocked %}
                                        <button type="submit" class="py-1 px-3 my-1 sp-start-but sp-bfc text-center fs-6 w-100">Разблокировать</button>
                                    {% else %}
                                        <button type="submit" class="py-1 px-3 my-1 sp-dngr-but sp-bfc text-center fs-6 w-100">Заблокировать</button>
                                    {% endif %}
                                </form>
                                {% if user.is_superuser %}
                                    <a class="py-1 px-3 my-1 sp-nav-but sp-bfc text-center fs-6 w-100" href="{% url 'users:set_group' pk=object.pk %}">Назначить</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}