{% extends 'base.html' %}

{% block header %}
        <h1 class="text-center sp-bfc mt-5 fw-bold">Рассылка №{{object.pk}}</h1>
{% endblock %}

{% block content %}
    <div class="sp-cont me-5 mt-5">
        {% if ready %}
            <span class="badge rounded-pill text-bg-success m-3">Готова к запуску</span>
        {% elif object.status == 'created' and not ready %}
            <span class="badge rounded-pill text-bg-warning m-3">Подготовлена</span>
        {% elif object.status == 'started' %}
            <span class="badge rounded-pill text-bg-primary m-3">Запущена</span>
        {% else %}
            <span class="badge rounded-pill text-bg-secondary m-3">Завершена</span>
        {% endif %}
        <div class="row m-3">
            <h5 class="col-2 sp-bfc fw-bold text-end">Тема:</h5>
            <h6 class="col-10 sp-bfc sp-frame fw-bold">{{object.message.title}}</h6>
        </div>
        <div class="row m-3">
            <h5 class="col-2 sp-bfc fw-bold text-end">Сообщение:</h5>
            <h6 class="col-10 sp-bfc sp-frame">{{object.message.content}}</h6>
        </div>
        <div class="row m-3">
            <h5 class="col-2 sp-bfc fw-bold text-end">Период:</h5>
            <h6 class="col-10 sp-bfc my-2">
                С <span class="sp-frame fs-5">{{object.start_time}}</span> ПО <span class="sp-frame fs-5">{{object.end_time}}</span>
            </h6>
        </div>
                <div class="row m-3">
            <h5 class="col-2 sp-bfc fw-bold text-end">Получатели:</h5>
            <div class="col-10 sp-bfc sp-check-scroll">
                {% for recipient in object.recipients.all %}
                    <p>{{recipient}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for message in messages %}
        <p class="sp-msg-{{message.tags}} mt-4">{{message}}</p>
    {% endfor %}
    {% if normal_mode %}
        <form method="post" action="{% url 'distribution:start_mailing' pk=object.pk %}" class="my-5 d-flex">
            {% if ready %}

                    {% csrf_token %}
                    <button type="submit" class="p-2 m-2 sp-start-but sp-bfc text-center fs-5">Запустить</button>
            {% endif %}
            {% if object.status == 'created' %}
                <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:update_mailing' pk=object.pk %}">Редактировать</a>
            {% endif %}
            {% if object.status == 'started' %}
                <h2 class="p-2 m-2 sp-bfc">Рассылка запущена, дождитесь окончания процесса</h2>
                <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:main' %}">На главную</a>
            {% endif %}
            {% if object.status != 'started' %}
                <a class="p-2 m-2 sp-dngr-but sp-bfc text-center fs-5" href="{% url 'distribution:delete_mailing' pk=object.pk %}">Удалить</a>
            {% endif %}
        </form>
    {% elif confirm_delete %}
        <h5 class="sp-bfc my-4">Вы действительно хотите удалить данную рассылку?</h5>
        <form method="post" class='mb-5' enctype="multipart/form-data" style="display: flex">
            {% csrf_token %}
            <button type="submit" class="py-1 px-3 m-2 sp-dngr-but sp-bfc text-center fs-5">Удалить</button>
            <a class="py-1 px-3 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:mailing_detail' pk=object.pk %}">Отмена</a>
        </form>
    {% endif %}
{% endblock %}