<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smile Sender</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/custom_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="sp-gr-bckgrnd">

    {% block header %}{% endblock %}

    <hr class="my-4" style="border: none; height: 2px; background-color: green; opacity: 0.2;">
    <div class="row me-0">
        <div class="col-3">

            {% include 'navigation.html' %}

        </div>
        <div class="col-9">

            {% block content %}{% endblock %}

        </div>
    </div>
    <hr class="my-4" style="border: none; height: 2px; background-color: green; opacity: 0.2;">
    <footer class="sp-bfc ms-5 me-0 mb-5 row">
        <div class="col-2">
            <p class="m-0">Smile Sender</p>
            <small class="text-muted m-0">&copy; 2026</small>
        </div>
        <div class="col">
            <h3>Контактная информация</h3>
            <div class="row">
                <p class="col-1 m-0">GitHub:</p>
                <a class="col m-0" href="https://github.com/havaikrab">github.com/havaikrab</a>
            </div>
            <div class="row">
                <p class="col-1 m-0">E-mail:</p>
                <p class="col m-0">havaikrab@gmail.com</p>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>