<div class="d-flex flex-column m-5 p-3 sp-nav">
    <h3 class="sp-bfc text-center fw-bold">Меню</h3>
    <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:main' %}">Главная</a>
    <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="#">Мои рассылки</a>
    <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:recipients' %}">Список получателей</a>
    <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:messages' %}">Контент</a>
</div>
