<div class="d-flex flex-column m-5 p-3 sp-nav">
    <h3 class="sp-bfc text-center fw-bold">Меню</h3>
    <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:main' %}">Главная</a>
    <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:mailing_list' %}">Мои рассылки</a>
    <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:recipients' %}">Мои получатели</a>
    <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:messages' %}">Мои письма</a>
    {% if user.is_superuser or manager %}
        <hr class="my-4" style="border: none; height: 2px; background-color: green; opacity: 0.2;">
        <h4 class="sp-bfc text-center fw-bold">Управление</h4>
        <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:mailing_management' %}">Рассылки</a>
        <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:recipients_all' %}">Получатели</a>
        <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'users:users_list' %}">Пользователи</a>
    {% endif %}
    {% if user.is_superuser %}
        <a class="p-2 m-2 sp-nav-but sp-bfc text-center fs-5" href="{% url 'distribution:messages' %}">Персонал</a>
    {% endif %}
</div>
